<!DOCTYPE html>
<html>
<head>
<title>log in</title>
<style>
body{
background-color: beige;
}
h1{
background-color: rgb(128, 125, 121);
text-align: center;
font-size: 20px black;
}
form{
background-color: aliceblue;
width : 50%;
margin-left: 25%;
font-size: 50px;
}
</style>
</head>
<body>
<h1>Login</h1>
<form action="index2.html">
<label>Enter your user Name</label><br>
<input type="text"><br>
<label>Enter your password </label><br>
<input type="password">
<button type="submit">Submit</button>
</form>





</body>



</html>