<!DOCTYPE html>
<html>
<head>
<title>Store</title>
<style>
body{
background-color: azure;    
}
h1{
background-color: rgb(133, 130, 130); 
text-align: center;
font-size: 50px;  
}
table,tr,th,td{
border: solid black;
width: 100%;

}

</style>
</head>
<body>
<h1>Store</h1>
<table>
<tr>
<th>Clothes</th> 
<th>Price</th>
<th>Description</th>
</tr>
<tr>
<td><a href="t-sh.html"><img src="t-shirt.webp" alt="50"></td>
<td>700</td>
<td>Crew Neck T-Shirt (Black) 
Our ultra-soft crew-neck men’s basic tee is designed to be the most comfortable t-shirt you’ll own! Wear it to lounge at home in, or out on your more casual days.
- 100% soft touch cotton
</td>
</tr>
<tr>
<td><a href="pa.html"><img src="pant2.webp" width="300px" alt=""></td>
<td>1500</td>
<td>100% Egyptian cotton
- Lightweight and breathable
- Elasticated smocks waistband
- 2 side pockets
- Straight leg fit  
- No fuss pull-on style
- Machine washable</td>
</tr>
<tr>
<td><a href="sh.html"><img src="shose.jpg" width="300px" alt=""></td>
<td>7800</td>
<td>Classic design from the 90s - 2000s Absorb insole absorbs shock through a combination of cushioning and compression resistance Features a breathable mesh upper for freshness and comfort Takes a sleek look and gives it a stylish lifestyle touch Rubber outsole designed for traction and durability on a variety of surfaces</td>
</tr>



</table>
</body>
</html>