<!DOCTYPE html>
<html>
<head>
<title>Store order</title>
<style>
body{
background-color: whitesmoke;
}
h1{
background-color: antiquewhite;
text-align: center;
}
table{
width: 100%;
}
table,tr,th,td{
border: solid black;
}
h2{
background-color: antiquewhite;
text-align: center;
}
form{
font-size: 25px;
width: 600px;

}
</style>



</head>
<body>
<h1>Order</h1>
<table>
<tr>
<th>T-Shirt</th>
<th>Price</th>
<th>Description</th>
</tr>
<tr>
<td><img src="t-shirt.webp" alt="50"></td>
<td>700</td>
<td>Crew Neck T-Shirt (Black)
Our ultra-soft crew-neck men’s basic tee is designed to be the most comfortable t-shirt you’ll own! Wear it to lounge at home in, or out on your more casual days.

- Round neckline 
- 100% soft touch cotton
- Regular fit, slightly shorter than the classic length
- Comes in a small fabric bag
- Designed and made in Egypt
</td>

</tr>
</table>
<h2>To Order Please Enter yout Informathion</h2>
<form>
<label>Enter your Name tripartite</label><br>
<input type="text"><br>
<label>Enter your Number</label><br>
<input type="text"><br>
<label> Enter Your address</label><br>
<input type="text"> 
<button type="submit">Submit</button>
</form>



</body>




</html